{% extends "base.html" %}
{% block title %}Список задач{% endblock %}
{% block content %}
    <h1>Список задач</h1>
    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'task_detail' task.id %}">
                        <strong>{{ task.description }}</strong>
                    </a><br>
                    <small>Статус: {{ task.get_status_display }}{% if task.due_date %}, до {{ task.due_date }}{% endif %}</small>
                </div>
                <div>
                    <a href="{% url 'edit_task' task.id %}" class="btn btn-primary btn-sm me-2">Редактировать</a>
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Удалить</a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">Нет задач.</li>
        {% endfor %}
    </ul>
{% endblock %}

